/* entire container, keeps perspective */

body {
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: rgba(40, 89, 89, 1.0);
}

.flip-container {
    perspective: 1000px;
}


/* flip the pane when hovered */

.flip-container:hover .flipper,
.flip-container.hover .flipper {
    transform: rotateY(180deg);
}

<<<<<<< Updated upstream
.flip-container,
.front,
.back {
    box-sizing:content-box;
    width: 320px;
    height: 480px;
    background-color: orange;
}


=======
/****************************/

.flip-container {
    box-sizing: content-box;
    width: 360px;
    height: 480px;
/*    background-color: orange;*/
}

.front {
    box-sizing: content-box;
    width: 360px;
    height: 480px;
/*    background-color: orange;*/
}



.back {
    box-sizing: content-box;
    width: 360px;
    height: 480px;
/*    background-color: orange;*/
}

/* This is the origanal code */

.flip-container,
.front,
.back {
    box-sizing: content-box;
    width: 360px;
    height: 480px;
/*    background-color: orange;*/
}




/*******************************/

>>>>>>> Stashed changes
/* flip speed goes here */

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    height: 480px;
<<<<<<< Updated upstream
/*    background-color: lightblue;*/
=======
    /*    background-color: lightblue;*/
>>>>>>> Stashed changes
}


/* hide back of pane during swap */

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.5);
}


/* front pane, placed above back */

.front {
<<<<<<< Updated upstream
/*    width: 320px;*/
=======
>>>>>>> Stashed changes
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
    background: linear-gradient(transparent, #000000), url("../../assets/img/pic1.jpg") no-repeat center;
    background-size: cover;
    color: white;
}


/* back, initially hidden pane */

.back {
<<<<<<< Updated upstream
/*    width: 320px;*/
    transform: rotateY(180deg);
    background-color: white;
    color: gray;
=======
    transform: rotateY(180deg);
    background-color: lightgray;
    color: darkslategray;
>>>>>>> Stashed changes
}


/* Toggle Flip */

.flip-container:hover .flipper,
.flip-container.hover .flipper,
.flip-container.flip .flipper {
    transform: rotateY(180deg);
}


/* Content styling */

.map {
    height: 240px;
    background: yellow;
    background: url("../../assets/img/map_placeholder.png") 0 0 no-repeat;
    background-size: cover;
}

.content {
<<<<<<< Updated upstream
    width: 320px;
    height: 240px;
    position: absolute;
    bottom: 0px;
/*    background-color: green;*/
=======
    width: 360px;
    height: 240px;
    position: absolute;
    bottom: 0px;
>>>>>>> Stashed changes
    padding: 20px;
}

.content span {
    font-family: 'Open Sans Condensed 700', sans-serif;
}

button {
    background-color: lightblue;
<<<<<<< Updated upstream
=======
}


















































/************************/
/* Search Field 			*/
/************************/
.search {
	position: absolute;
	z-index: 101;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none; /* makes other page elements clickable */
}

.js .search::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	background: rgba(14, 16, 15, 0.7);
}

.btn--search-close {
	font-size: 2em;
	position: absolute;
	top: 1.25em;
	right: 1.25em;
	display: none;
}

.js .btn--search-close {
	display: block;
}

.search__form {
	position: relative;
	width: 50%;
	min-width: 300px;
	margin: 0 auto;
}

.search__input {
	font-family: inherit;
	font-size: 5em;
	display: inline-block;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	padding: 0 1em 0.15em 0;
	pointer-events: auto;
	color: #ffefb9;
	border-bottom: 4px solid;
}

.search__input::-webkit-search-cancel-button,
.search__input::-webkit-search-decoration {
	-webkit-appearance: none;
}

.search__input::-ms-clear {
	display: none;
}

.btn--search {
	font-size: 3em;
	position: absolute;
	right: 0;
	bottom: 0.5em;
	pointer-events: none;
	color: #e8db82;
}

.search--open .btn--search {
	pointer-events: auto;
}

.search__suggestion {
	width: 50%;
	max-width: 450px;
	margin: calc(40vh + 2em) auto 0;
	text-align: left;
	pointer-events: none;
}

.search__suggestion:nth-child(2) {
	margin: 0 3em;
}

.search__suggestion h3 {
	font-size: 1.5em;
	margin: 0;
}

.search__suggestion h3::before {
	content: '\21FE';
	display: inline-block;
	padding: 0 0.5em 0 0;
}

.search__suggestion p {
	font-size: 1.25em;
	line-height: 1.4;
	margin: 0.75em 0 0 0;
	color: #e85454;
}

/************************/
/* Transitions 			*/
/************************/
.js .search::before {
	opacity: 0;
	transition: opacity 0.5s;
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.js .search--open::before {
	opacity: 1;
}

.search--open {
	pointer-events: auto;
}

.search__form {
	transform: scale3d(0.5,0.5,1);
	transition: transform 0.5s;
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.search--open .search__form {
	transform: translate3d(0,40vh,0) translate3d(0,-50%,0);
}

.btn--search-close {
	opacity: 0;
	transform: scale3d(0.8, 0.8, 1);
	transition: opacity 0.5s, transform 0.5s;
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.search--open .btn--search-close {
	opacity: 1;
	transform: scale3d(1, 1, 1);
	transition-delay: 0.1s;
}

/* Dummy blocks */
.search__suggestion h3,
.search__suggestion p {
	opacity: 0;
	transform: translate3d(0, 100px, 0);
	transition: opacity 0.2s, transform 0.5s;
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.search--open .search__suggestion h3,
.search--open .search__suggestion p {
	opacity: 1;
	transform: translate3d(0, 0, 0);
	transition: opacity 0.5s, transform 0.5s;
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.search--open .search__suggestion p {
	transition-delay: 0.1s;
}

@media screen and (max-width: 40em) {
	.search__form {
		width: 100%;
		padding: 2em 1em 0;
	}
	.search__input {
		font-size: 2em;
	}
	.btn--search {
		font-size: 1.25em;
		right: 1em;
	}
	.btn--search-close {
		font-size: 1.15em;
	}
	.search__suggestion {
		font-size: 0.85em;
		width: 100%;
		margin-top: 40vh;
		padding: 0 1em;
	}
>>>>>>> Stashed changes
}