/* entire container, keeps perspective */

body {
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: rgba(40, 89, 89, 1.0);
}

.flip-container {
    perspective: 1000px;
}


/* flip the pane when hovered */

.flip-container:hover .flipper,
.flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
    box-sizing:content-box;
    width: 320px;
    height: 480px;
    background-color: orange;
}


/* flip speed goes here */

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    height: 480px;
/*    background-color: lightblue;*/
}


/* hide back of pane during swap */

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.5);
}


/* front pane, placed above back */

.front {
/*    width: 320px;*/
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
    background: linear-gradient(transparent, #000000), url("../../assets/img/pic1.jpg") no-repeat center;
    background-size: cover;
    color: white;
}


/* back, initially hidden pane */

.back {
/*    width: 320px;*/
    transform: rotateY(180deg);
    background-color: white;
    color: gray;
}


/* Toggle Flip */

.flip-container:hover .flipper,
.flip-container.hover .flipper,
.flip-container.flip .flipper {
    transform: rotateY(180deg);
}


/* Content styling */

.map {
    height: 240px;
    background: yellow;
    background: url("../../assets/img/map_placeholder.png") 0 0 no-repeat;
    background-size: cover;
}

.content {
    width: 320px;
    height: 240px;
    position: absolute;
    bottom: 0px;
/*    background-color: green;*/
    padding: 20px;
}

.content span {
    font-family: 'Open Sans Condensed 700', sans-serif;
}

button {
    background-color: lightblue;
}